._label {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  color: #c6a7a5;
}

.form-group {
  margin-bottom: 15px;
}

input:focus {
  background-color:#fffdf9;
}

.help-block {
  color: red;
  font-size: 11px;
  font-style: italic;
}

.circleFrame {
  border-radius: 50%;
}

.profilePicture {
  position: relative;
}

.profilePicture .editOverlay {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.profilePicture:hover .editOverlay {
  display: block;
}

.mediaBox {
  display: block;
}

.mediaBox .mediaPicture {
  float: left;
  vertical-align: middle;
  padding-right: 1em;
}

.mediaBox .mediaText {
  float: left;
  vertical-align: middle;
}

.contactMethod {
  margin: 1em;
}
