.profilePicture {
  position: relative;
}

.profilePicture .editOverlay {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.profilePicture:hover .editOverlay {
  display: block;
}

.mediaBox {
  display: block;
}

.mediaBox .mediaPicture {
  float: left;
  vertical-align: middle;
  padding-right: 1em;
}

.mediaBox .mediaText {
  float: left;
  vertical-align: middle;
}

.contactMethod {
  margin: 1em;
}
