main {
  width: 55%;
}

#searchForm {
  margin: 2em 0;
  width: 100%;
}

#searchText {
  float: left;
  width: 80%;
}

#searchSubmit {
  float: right;
}

th {
  background-color: white;
  height: 25px;
  text-align: left;
  border-bottom: 3px solid white;
}

th.firstname {
  width: 140px;
}

th.lastname {
  width: 170px;
}

th.status {
  width: 150px;
}

th.location {
  width: 165px;
}

th.rate {
  width: 160px;
}

td {
  padding: 8px;
  border-bottom: 3px solid white;
}

tr:nth-child(even) {
  background-color: #fff5d1;
}

tr:nth-child(odd) {
  background-color: #fffae8;
}

table th a {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  color: #c6a7a5;
  cursor: pointer;
  text-decoration: none;
}

table th a:hover {
  color: #D83D3D;
  opacity: 0.8;
}
