/* Palette
Red: #C83B3E
Beige: #EDD094

Dropdown: #FFFAF1
Selected: #FFF6E6

Welcome back: #832E2B
Section title: #DEC8C7
*/

html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #842D29;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 200px;
}

main {
  margin: auto;
  width: 50%;
}

section {
  width: 450px;
  float: left;
  margin: 1em;
}

h1, h2, h3 {
  font-family: "Roboto", bold, sans-serif;
  font-weight: bolder;
}

p, li, ul, br {
  font-family: "Robot", sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.8em;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #D5B8B6;
  margin: 5px;
  border-bottom: 1px solid #EDD094;
}

a {
  font-weight: bold;
  color: #842D29;
  font-family: 'Roboto';
  text-decoration: none;
}

a.nav {
  font-weight: normal;
  color: #842D29;
  font-family: 'Roboto';
  text-decoration: none;
}

a.logout {
  font-weight: normal;
  color: #842D29;
  font-family: 'Roboto';
  text-decoration: none;
}

a:hover {
  color: #a64b47;
  cursor: pointer;
}

label {
  display:inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFE09B;
}

li {
  list-style-type: circle;
}

#container {
  margin: auto;
  display: inline-block;
  padding-left: 150px;
}

#status, #rate, #location {
  margin: 40px;
  float:left;
  width: 200px;
  font-size: 10px;
  color: #DEC8C7;
}

.wrapper {
  margin: 0 auto;
  width: 600px;
  padding-top: 15px;
  padding-left: 15px;
}

.btn {
  border: none;
  padding: 1em;
  font-weight: bold;
  color: white;
  margin-right: 5px;
  border-radius: 3px;
  background-color: #D83D3D;
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
  cursor: pointer;
}

.dropbtn {
  background-color: #FFFAF1;
  color: #832E2B;
  padding-left: 10px;
  font-size: 12px;
  border: none;
  width: 200px;
  height: 30px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.circleFrame {
  border-radius: 50%;
}

.form-control {
  display: block;
  width: 90%;
  height: 34px;
  padding: 4px 10px;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.43;
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

._label {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  color: #c6a7a5;
  font-family: 'Roboto', sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

input:focus {
  background-color:#fffdf9;
}

.help-block {
  color: red;
  font-size: 11px;
  font-style: italic;
}
